/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.button{
    background-color: #000 !important;/* Green */
    color: white !important;
}

.snackbar-dialog{
    text-align: center !important;
    white-space: pre-wrap;
}

.mat-mdc-form-field-required-marker{
    color: red !important;
  }