<div id="home-text-1">
    <h2>Penguin Random House</h2>
    <p id="paragraph-1" style="font-size:large;">
        Penguin Random House es una compañía editorial multinacional surgida de la unión de la editoriales Random House (propiedad de la editorial alemana Bertelsmann) y Penguin Books (propiedad de la editorial británica Pearson PLC), completada el 1 de julio de 2013. Tras la fusión, Bertelsmann posee el 53 % y Pearson PLC el 47 % de las acciones del grupo resultante.
    </p>
    <p id="paragraph-2" style="font-size:large;">
        Esta editorial posee más de 250 sellos y marcas editoriales en cinco continentes y emplea a más de 10.000 personas en todo el mundo. Con más de 15.000 títulos nuevos publicados y 800 millones de ejemplares vendidos anualmente es considerada la empresa líder en edición comercial a nivel mundial. Forma parte del denominado grupo de las «Cinco Grandes» ―junto con Hachette, Macmillan, HarperCollins y Simon & Schuster― que dominan el mercado editorial angloparlante.
    </p>    
</div>
<div id="home-text-2">
    <h2>La empresa</h2>
    <p id="paragraph-1" style="font-size:large;">
        Penguin Random House comprende literatura para niños y adultos de ficción y no ficción en el negocio del comercio impreso y digital de libros. Penguin and Random House llega a Estados Unidos, Reino Unido, Canadá, Australia, Nueva Zelanda, Portugal, e India. Penguin comercializa la actividad de la industria editorial en Brasil, Asia y Sudáfrica; Dorling Kindersley lo realiza por todo el mundo y la compañía Random House en España, México, Argentina, Uruguay, Colombia, Venezuela y Chile.
    </p>
    <p id="paragraph-2" style="font-size:large;">
        Penguin Random House contrata a más de 10.000 personas a nivel mundial a través de los cinco continentes. Dentro de su red de venta comprende casi 250 casas editoriales independientes y creativas, las cuales colectivamente publican más de 15.000 títulos inéditos anualmente. Su lista de publicaciones incluye más de 70 libros ganadores de premios Nobel y cientos de los autores más ampliamente leídos en todo el mundo.
        </p>
    <p id="paragraph-1" style="font-size:large;">
        La creación de la compañía se concibe como una respuesta de la industria editorial al creciente dominio de Amazon.com en el mercado de libros.
    </p>
    <p id="paragraph-2" style="font-size:large;">
        Book Country es una comunidad de escritos y publicaciones en línea. La cual está enfocada a temas como el romance, el misterio, la ciencia ficción, la fantasía y escritores misteriosos. Book Country se lanzó en abril del 2011. En julio de 2013, se relanzó con sus talleres de escritura en línea en más de sesenta categorías literarias, incluyendo ficción literaria, autobiografías, y ficción de mujeres. A partir de septiembre de 2013, el sitio tenía alrededor de 10.000 miembros.
    </p>
</div>
